*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    column-count: 4;
}
body{
    background-color: 	#778899;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    display: inline-block;
    margin-bottom: 8px;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    transition: .5s;
}
.box:hover img{
    transform: scale(1.1);
    opacity: 0.8;
}
@media (max-width: 992px){
    .container{
        column-count: 3;
    }
}

@media(max-width:768px){
    .container{
        column-count: 2;
    }
}
@media(max-width:600px){
    .container{
        column-count: 1;
    }
}